/*==============================顶部导航================================*/

nav {
    width: 100%;
    height: 30px;
    background: #e2e2e2;
    border-bottom: 1px solid #e9e9e9;
    line-height: 30px;
    text-align: center;
}

nav .nav-bar {
    width: 1192px;
    margin: 0 auto;
}

nav .nav-bar li {
    float: left;
    width: 80px;
}

nav .nav-bar li:hover {
    background: #fff;
}

nav .nav-bar .address {
    margin-left: 200px;
    position: relative;
    width: 80px;
    cursor: pointer;
}

nav .nav-bar .address:hover {
    background: #fff;
}

nav .nav-bar .address:hover .address-ul {
    display: block;
}

nav .nav-bar .address .address-ul {
    position: absolute;
    display: none;
    width: 300px;
    height: 200px;
    background: #fff;
    z-index: 1000;
}


/*================================头部区域=====================================*/

header {
    width: 1192px;
    margin: 0 auto;
    position: relative;
    height: 100px;
}

header .logo {
    width: 190px;
    height: 170px;
    background: #ff630c;
    line-height: 170px;
    text-align: center;
    position: relative;
    top: -31px;
}

header .header-input {
    position: absolute;
    width: 550px;
    height: 35px;
    left: 320px;
    top: 25px;
    border: 1px solid red;
}

header .header-input input {
    border: 0;
    outline: none;
    width: 500px;
    height: 35px;
}

header .header-input button {
    border: 0;
    background: red;
    width: 50px;
    height: 35px;
    margin-left: -6px;
    cursor: pointer;
}

header .gwc {
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 99px;
    width: 190px;
    height: 35px;
    background: #fff;
    z-index: 1;
    
}

header .gwc .gwc-nr {
	
     background: #fff;
    display: block;
    border: 1px solid #e3e4e5;
    text-align: center;
    line-height: 36px;
    z-index: 11;
    width: 188px;
    height: 36px;
    z-index: 11;
}

header .gwc .gwc-nr a {
    color: red;
   
    
    

}

header .gwc:hover .gwc-yc  {
    display: block;
    /*border-top:none;*/
}

header .gwc:hover .gwc-nr{
    border-bottom: none;
}

header .gwc .gwc-yc {
    z-index: -1;
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    width: 308px;
    height: 68px;
    background: #fff;
    border: 1px solid #e3e4e5;
    text-align: center;
    line-height: 68px;
}

header .fldh {
    position: absolute;
    top: 120px;
    left: 210px;
}

header .fldh li {
    display: inline-block;
    float: left;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 700;
}

header .fldh li a:hover {
    color: red;
}

header .ewm {
    cursor: pointer;
    position: absolute;
    top: -1px;
    right: 0;
    width: 68px;
    height: 68px;
    background: #fff;
    line-height: 68px;
    text-align: center;
    border: 1px solid #cfcfcf;
}
